* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  max-width: 800vw;
  font-family: "Outfit", serif;
}

main {
  background-image: url(IMAGES/7xm.xyz205066.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-color: rgba(244, 243, 243, 0.5);
  height: 780px;
}

header {
  display: flex;
  position: static;
  background-color: black;
}

header p {
  width: 80px;
  height: 70px;
  margin-left: 200px;
  margin-right: 450px;
  margin-top: 20px;
  color: white;
  font-size: 1.5rem;
  font-weight: bold;
}

menu ul {
  display: flex;
  list-style-type: none;
  margin-top: 20px;
  font-size: 18px;
}

menu ul li a {
  text-decoration: none;
  margin-right: 40px;
  color: rgb(192, 190, 190);
  font-weight: bold;
}

menu ul li a:hover {
  border-bottom: 2px solid white;
  transition: 0.3s;
  cursor: pointer;
  color: white;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  margin-top: 6px;
  display: none;
  position: absolute;
  min-width: 300px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  padding: 16px 20px;
  z-index: 1;
  line-height: 30px;
  color: gray;
  background-color: white;
}

.dropdown:hover .dropdown-content {
  display: block;
  font-size: 18px;
  background-color: rgb(233, 92, 0);
}

.first {
  text-align: center;
  color: white;
  margin: auto;
  margin-top: 190px;
  line-height: 50px;
}

.first h1 {
  font-size: 40px;
}

.first p {
  font-size: 30px;
  text-align: center;
}

.first button {
  margin-top: 40px;
  border: none;
  background-color: rgb(233, 92, 0);
  border-radius: 30px;
  color: rgb(255, 255, 255);
  font-size: 18px;
  font-weight: 700;
  padding: 15px 10px 10px;
  height: 60px;
  width: 220px;
  text-align: center;
}
.first button:hover {
  background-color: rgb(207, 46, 1);
  cursor: pointer;
}

.about {
  padding: 20px;
  background-image: url(IMAGES/7xm.xyz976879.jpg);
  min-height: 30vh;
  color: rgb(255, 255, 255);
  text-align: center;
  flex-grow: inherit;
}

.about h1 {
  font-size: 50px;
  margin-top: 15px;
  text-align: center;
}

#about p {
  margin-top: 13px;
  line-height: 27px;
  font-size: 26px;
  text-align: center;
}

.about button {
  margin-top: 30px;
  border: none;
  background-color: rgb(233, 92, 0);
  border-radius: 30px;
  color: rgb(255, 255, 255);
  font-size: 16px;
  padding: 15px 10px 10px;
  height: 49px;
  width: 130px;
  text-align: center;
}

.about button:hover {
  cursor: pointer;
}

.third {
  text-align: center;
  min-height: 70vh;
  margin-left: 50px;
  margin-right: 50px;
}

.third h1 {
  margin-top: 100px;
  margin-bottom: 80px;
  font-size: 52px;
  color: rgb(72, 72, 72);
  font-weight: 600;
}

.services {
  display: flex;
  gap: 3rem;
}

.services h4 {
  margin-top: 30px;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 15px;
}

.one {
  max-width: 100vw;
}

.services p {
  font-size: 14px;
  color: grey;
  line-height: 20px;
}

.one img {
  width: 150px;
  border: 2px solid rgb(233, 92, 0);
  border-radius: 75px;
  padding: 30px;
}

.two img {
  width: 150px;
  border: 2px solid rgb(233, 92, 0);
  border-radius: 75px;
  padding: 30px;
}

.three img {
  width: 150px;
  border: 2px solid rgb(233, 92, 0);
  border-radius: 75px;
  padding: 60px;
}

.four img {
  width: 150px;
  border: 2px solid rgb(233, 92, 0);
  border-radius: 75px;
  padding: 33px;
}

.read {
  display: flex;
  justify-content: space-around;
  gap: 3rem;
}

.read button:hover {
  background-color: rgb(233, 92, 0);
  color: white;
  cursor: pointer;
  transition: 0.3s;
}

.one-button .two-button .three-button .four-button,
button {
  margin-top: 30px;
  border: 2px solid rgb(233, 92, 0);
  border-radius: 20px;
  padding: 10px 30px;
  background-color: white;
}

.two-button button {
  margin-top: 33px;
  border: 2px solid rgb(233, 92, 0);
  border-radius: 20px;
  padding: 10px 30px;
  background-color: white;
}

.three button {
  margin-top: 38px;
  border: 2px solid rgb(233, 92, 0);
  border-radius: 20px;
  padding: 10px 30px;
  background-color: white;
}

.four button {
  margin-top: 20px;
  border: 2px solid rgb(233, 92, 0);
  border-radius: 20px;
  padding: 10px 30px;
  background-color: white;
}

.fourth {
  min-height: 90vh;
  margin-top: 50px;
  padding-left: 50px 40px;
  background-color: rgba(128, 128, 128, 0.262);
  display: flex;
  flex-direction: column;
}

.inner-first {
  flex: 3;
}

.fourth h1 {
  text-align: center;
  padding-top: 50px;
  font-size: 35px;
  font-weight: 400;
  color: rgb(53, 52, 52);
}

.blog {
  display: flex;
  gap: 3rem;
  margin-left: 20px;
  margin-top: 30px;
  color: white;
  margin-right: 20px;
}

.blog h5 {
  margin-left: 20px;
  border: 1px solid white;
  border-radius: 20px;
  width: 120px;
  text-align: center;
  font-weight: 400;
  margin-top: 30px;
  margin-bottom: 120px;
  line-height: 20px;
}

.left {
  background-image: url(IMAGES/7xm.xyz845035.jpg);
  background-size: cover;
  height: 500px;
  padding-right: 50px;
  flex: 1;
}

.blog span {
  margin-left: 50px;
}

.blog h3 {
  margin-left: 50px;
  font-size: 20px;
  font-weight: 600;
  margin-top: 15px;
  margin-bottom: 15px;
}

.blog p {
  margin-left: 50px;
  width: 300px;
  color: whitesmoke;
  text-align: justify;
}

.middle {
  background-image: url(IMAGES/7xm.xyz993483.jpg);
  background-size: cover;
  height: 500px;
  padding-right: 50px;
  flex: 1;
}

.right {
  background-image: url(IMAGES/7xm.xyz357868.jpg);
  background-size: cover;
  height: 500px;
  padding-right: 50px;
  flex: 1;
}

.left footer {
  margin-top: 125px;
  border-top: 1px solid gray;
}

.middle footer {
  margin-top: 100px;
  border-top: 1px solid gray;
}

.right footer {
  margin-top: 100px;
  border-top: 1px solid gray;
}

.inner-sec {
  flex: 1;
  text-align: center;
}

.inner-sec button {
  margin-top: 35px;
  border: none;
  background-color: rgb(233, 92, 0);
  border-radius: 30px;
  color: rgb(255, 255, 255);
  font-size: 18px;
  font-weight: 700;
  padding: 15px 10px 10px;
  height: 60px;
  width: 220px;
}

footer {
  display: flex;
  flex-direction: column;
  min-height: 60vh;
  margin-top: 20px;
}

.first-section {
  padding-top: 45px;
  height: 500px;
  display: flex;
  gap: 8rem;
  padding-left: 300px;
  background-color: rgb(37, 37, 37);
  color: rgb(204, 204, 204);
  line-height: 40px;
}

.first-section img {
  margin-top: 80px;
}

.line-one .line-two .line-three,
ul {
  list-style-type: none;
}

.line-one .line-two .line-three,
ul li a {
  text-decoration: none;
  color: rgb(204, 204, 204);
  padding-bottom: 5px;
  border-bottom: 1px solid rgb(204, 204, 204);
}

.second-section {
  height: 80px;
  background-color: rgb(28, 28, 28);
  color: rgb(119, 119, 119);
  padding-left: 100px;
  padding-top: 40px;
}

@media screen and (max-width: 1000px) {
  body,
  main,
  .main,
  header,
  .section-one {
    display: flex;
    flex-direction: column;
    max-width: 1000px;
    margin: auto;
    height: 700px;
  }
  .content {
    width: 375px;
    margin: auto;
    margin-top: 30px;
  }

  .container {
    margin: auto;
    width: 340px;
    height: 600px;
  }

  img {
    width: 320px;
  }
}

.main {
  margin-top: 70px;
  min-height: 100vh;
  max-width: 800vw;
}

.main h1 {
  text-align: center;
  margin-bottom: 40px;
}

.main-content {
  display: flex;
  flex-direction: column;
  margin: 0 50px;
}

.first-flex {
  display: flex;
  gap: 4rem;
}

.second-flex {
  display: flex;
  gap: 4rem;
  margin-top: 70px;
}

.first-left,
.first-middle,
.first-right,
.second-left,
.second-middle,
.second-right {
  flex: 1;
}

.first-left,
.first-middle,
.first-right,
.second-left,
.second-middle,
.second-right,
img {
  justify-items: center;
  border-radius: 8px;
}

.first-left,
.first-middle,
.first-right,
.second-left,
.second-middle,
.second-right,
p {
  line-height: 35px;
  text-align: justify;
  font-size: 18px;
  margin-top: 10px;
}
